<html>
          <meta http-equiv="refresh" content="15">
          <head>
            <title>期指即时交易查看</title>
          </head>
          <body>
              <h1 align="center">即时数据{{date}}</h1>
              <h4 align="center">(白天数据包括上一个夜市，夜间只显示当前夜期，每15s刷新一次)</h4>

              <table border="2" width="600" cellpadding="5" cellspacing="0" align="center">
                    <tr>
                        <td>买</td>
                        <td><font color="red">{{buy}}</font></td>
                    </tr>
                    <tr>
                        <td>卖</td>
                        <td><font color="green">{{sell}}</font></td>
                    </tr>
                </table>
          </body>
</html>