<html>
          <meta http-equiv="refresh" content="15">
          <head>
            <title>期指即时交易查看</title>
          </head>
          <body>
              <h1 align="center">当日即时数据</h1>
              <h4 align="center" color="red">(数据包括上一个夜市，每15s刷新一次)</h4>
              <table border="2" width="600" cellpadding="5" cellspacing="0" align="center">
                    <tr>
                        <td>全天买</td>
                        <td>{{buy}}}</td>
                    </tr>
                    <tr>
                        <td>全天卖</td>
                        <td>{{sell}}</td>
                    </tr>
                </table>
          </body>
</html>